{% extends "base.html.twig" %}

{% block title %} {{ parent() }} contact {% endblock %}
       
{% block content %} 
    <div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				 <h1 class="text-center text-light">contact</h1> 


			</div>
		</div>
	</div>
{% endblock %} 