{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/espagne.css'> {% endblock %}

{% block content %}
<section class="detailEspagne">
    <div class="destination">
        <img src="https://th.bing.com/th/id/R.65fbe407af75fe57c877acc4600fff88?rik=RY7NJEFrjzggfQ&riu=http%3a%2f%2fwww.telegraph.co.uk%2fcontent%2fdam%2fTravel%2f2016%2fNovember%2fmadrid-TT-hres-2011_8-xlarge.jpg&ehk=7ELsOTFizcuCGmFGtkVUAU5oRo1qA2fP9TnYkTSudeQ%3d&risl=&pid=ImgRaw&r=0" alt="Madrid">
        <div class="details">
            <p> Etape 1 -> Madrid </p>
            <p> 220€ + 198€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> Madrid, capitale vibrante de l’Espagne, séduit par son riche patrimoine, sa vie animée et son ambiance chaleureuse. Au cœur de la ville, la majestueuse Plaza Mayor et le Palais Royal offrent un plongeon dans l’histoire royale espagnole, tandis que le célèbre musée du Prado expose des chefs-d'œuvre de Goya, Velázquez et d’autres grands maîtres. Le parc du Retiro, véritable havre de paix, invite à la détente avec ses jardins luxuriants et son emblématique Palais de Cristal. La Gran Vía, artère bouillonnante, regorge de boutiques, de théâtres et de restaurants où déguster des tapas typiques. Pour une expérience authentique, le marché de San Miguel propose une explosion de saveurs ibériques, entre jambon ibérique, fromages et fruits de mer. Le quartier de La Latina, avec ses ruelles pittoresques et ses bars animés, est parfait pour profiter de l’ambiance madrilène, tout comme Malasaña, repaire des artistes et amateurs de culture alternative. Enfin, les amateurs de football ne manqueront pas le mythique stade Santiago Bernabéu, temple du Real Madrid. Entre culture, gastronomie et vie nocturne trépidante, Madrid est une destination incontournable pour les voyageurs en quête d’authenticité et de dynamisme. </p>          
        </div>
    </div>
    <div class="destination">
        <img src="https://roadsurfer.com/wp-content/uploads/location-campervan-barcelone-gaudi.jpg" alt="barcelone">
        <div class="details">
            <p> Etape 2 -> Barcelone </p>
            <p> 219€ + 194 de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> Barcelone, capitale catalane au charme méditerranéen, séduit par son architecture unique, sa culture vibrante et son ambiance ensoleillée. La Sagrada Família, chef-d’œuvre inachevé de Gaudí, domine la ville, tandis que le parc Güell émerveille avec ses mosaïques colorées et ses formes organiques. Flâner sur La Rambla, artère emblématique bordée de cafés et d’artistes de rue, mène jusqu’au marché de la Boqueria, où déguster des spécialités locales comme les tapas et la paella. Le quartier gothique, avec ses ruelles médiévales et sa majestueuse cathédrale, plonge les visiteurs dans l’histoire de Barcelone. Pour les amateurs de plage, la Barceloneta offre une escapade parfaite entre sable doré et restaurants de fruits de mer. Les passionnés de football ne manqueront pas le mythique stade du Camp Nou, temple du FC Barcelone. Le soir, les quartiers d’El Born et de Gràcia s’animent avec leurs bars branchés et leur atmosphère bohème. Entre art, histoire et détente en bord de mer, Barcelone est une destination incontournable pour une escapade inoubliable. </p>            
        </div>
    </div>
    <div class="destination">
        <img src="https://i.pinimg.com/originals/8b/80/28/8b80280050c7994dd968df6ab24fc470.jpg" alt="Valence">
        <div class="details">
            <p>Etape 3 -> Valence </p>
            <p> 142€ + 137€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> Valencia, perle de la côte méditerranéenne espagnole, est une ville où traditions et modernité se rencontrent harmonieusement. Son centre historique dévoile des trésors architecturaux comme la cathédrale de Valence, abritant le Saint Graal, et la Lonja de la Seda, classée au patrimoine mondial de l’UNESCO. La Cité des Arts et des Sciences, avec son architecture futuriste signée Santiago Calatrava, est un incontournable pour les amateurs de science et de culture. Pour une pause nature, le parc du Turia, ancien lit de rivière transformé en un immense espace vert, invite à la détente et aux balades à vélo. Côté gastronomie, Valence est le berceau de la paella, à déguster face à la mer dans les restaurants de la plage de la Malvarrosa. Le marché central, l’un des plus beaux d’Europe, offre une immersion dans les saveurs locales entre fruits frais, charcuterie et spécialités valenciennes. Le quartier du Carmen, avec ses ruelles animées et ses fresques de street art, est idéal pour profiter de l’ambiance bohème de la ville. Entre plages ensoleillées, patrimoine historique et dynamisme culturel, Valence est une destination idéale pour un séjour authentique et dépaysant. </p>          
        </div>
    </div>
    <div class="destination">
         <img src="https://files.oaiusercontent.com/file-HyvoDF1NXkB1a6Zx6Ko1ho?se=2025-03-15T21%3A36%3A15Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D4f1436aa-e455-4523-9ee0-fe0a02568720.webp&sig=nIJ5TohLBz/UJkm3tVGLnZpGCw4IAKeS/m0ZrHNDJuI%3D" alt="logoReservation">
        <div class="details">
            <p>Pour pouvoir réserver une destination, veuillez cliquer sur le bouton suivant -> <a href="index.php?page=reservationEspagne">Reservation</a> </p>
            <p>Possibilité de prend le pack VOYAGE avec toutes les étapes comprises en un seul voyage. Le prix et de 531 € par personne sans compter les nuits aux hotels Si vous souhaiter reserver le pack VOYAGE : <a href="index.php?page=reservationPackEspagne">Reservation du pack</a> </p>
        </div>
    </div>
    
</section>
{% endblock %}