{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/etatUnis.css'> {% endblock %}

{% block content %}
<section class="detailEtatUnis">
    <div class="destination">
        <img src="https://nomademagazine.com/wp-content/uploads/2021/11/Boston.jpg" alt="Boston">
        <div class="details">
            <p> Etape 1 -> Boston </p>
            <p> 1171€ + 288€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> Boston, berceau de l’histoire américaine, séduit par son charme colonial, son dynamisme culturel et son cadre maritime. La ville se découvre à travers le Freedom Trail, un parcours historique jalonné de sites emblématiques comme Faneuil Hall, Paul Revere House et la Massachusetts State House. Le quartier de Beacon Hill, avec ses rues pavées et ses maisons en briques rouges, offre une atmosphère pittoresque unique. Boston est aussi une ville tournée vers l’éducation et l’innovation, abritant les prestigieuses universités de Harvard et du MIT, dont les campus fascinants valent le détour. Le front de mer invite à la détente avec le Boston Harbor et ses croisières, ainsi que le Quincy Market, idéal pour déguster un clam chowder ou un lobster roll. Amateurs de sport, ne manquez pas l’ambiance mythique du Fenway Park, stade des Red Sox. Enfin, l’Esplanade du Charles River offre une vue imprenable sur la ville et un cadre parfait pour une balade. Entre histoire, culture et gastronomie, Boston est une destination incontournable pour un séjour authentique et enrichissant. </p>          
        </div>
    </div>
    <div class="destination">
        <img src="https://th.bing.com/th/id/R.5f8dc1a58b82af9e798616b0b5645c99?rik=hr7UuuRimx9V%2fA&riu=http%3a%2f%2fwww.frenzytours.com%2fDATA%2fNOUVELLE%2f134%7ev%7eNouveau_voyage_a_New_York_.jpg&ehk=pxmFCWXCMa1MWg4PEC9c8H%2bwtU7No9%2f1puh6T5JoEfc%3d&risl=&pid=ImgRaw&r=0" alt="New York">
        <div class="details">
            <p> Etape 2 -> New York </p>
            <p> 644€ + 241€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> New York, la ville qui ne dort jamais, est une destination incontournable offrant une multitude d’expériences uniques. L'emblématique Statue de la Liberté, symbole de liberté et d'espoir, est un must à visiter, tout comme Ellis Island, qui retrace l’histoire des immigrants. Le Central Park, véritable poumon vert au cœur de Manhattan, offre un havre de paix pour une promenade ou un pique-nique, tandis que Times Square, avec ses néons éclatants, plonge les visiteurs dans l’effervescence de la ville. Les amateurs d’art ne manqueront pas le Metropolitan Museum of Art et le Museum of Modern Art (MoMA), deux temples de la culture mondiale. Le gratte-ciel Empire State Building offre une vue panoramique à couper le souffle sur la ville. Pour les passionnés de shopping, la Fifth Avenue regorge de boutiques de luxe et de magasins emblématiques comme Saks Fifth Avenue. Le quartier de Brooklyn, avec ses célèbres ponts et ses restaurants branchés, est un lieu incontournable pour découvrir une autre facette de New York. Et bien sûr, un spectacle à Broadway est une expérience à ne pas manquer pour plonger dans la magie théâtrale de la ville. Entre culture, shopping, gastronomie et vues spectaculaires, New York promet un séjour inoubliable. </p>            
        </div>
    </div>
    <div class="destination">
        <img src="https://img.static-af.com/images/meta/IDname/CITY-WAS-1?aspect_ratio=2:1&max_width=1920" alt="Washington">
        <div class="details">
            <p>Etape 3 -> Washington</p>
            <p> 1098€ + 244€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> Washington, D.C., la capitale des États-Unis, est une ville pleine de majesté et de symbolisme, idéale pour les amateurs d’histoire, de culture et de politique. Le National Mall, vaste parc qui traverse la ville, abrite certains des monuments les plus emblématiques, dont le Lincoln Memorial, le Washington Monument et le Capitole, qui représentent l’histoire et les idéaux fondateurs de la nation. La Maison Blanche, résidence officielle du président américain, est un site incontournable, tout comme le musée du National Air and Space Museum et le Smithsonian Institution, un réseau de musées d’exception qui permettent de découvrir les trésors de l’histoire, de l’art et de la science. Les visiteurs peuvent également explorer le musée d’histoire américaine ou le musée de l’Holocauste. Le quartier historique de Georgetown, avec ses rues pavées et ses maisons en briques, offre une atmosphère charmante pour flâner, faire du shopping ou savourer un repas dans l'un de ses nombreux restaurants. Le cimetière d'Arlington, avec son impressionnant monument en mémoire des soldats américains, est un lieu de recueillement incontournable. Avec ses monuments majestueux, sa culture riche et ses lieux chargés d’histoire, Washington, D.C. est une destination fascinante pour ceux qui cherchent à plonger au cœur de l’histoire américaine. </p>          
        </div>
    </div>

<p>Possibilité de prend le pack VOYAGE avec toutes les étapes comprises en un seul voyage. Le prix et de 531 € par personne sans compter les nuits aux hotels</p>
Si vous souhaiter reserver le pack VOYAGE : <a href="index.php?page=reservationPack">Reservation</a>
    
</section>
{% endblock %}