{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/.css'> {% endblock %}

{% block content %}
<section class="">
    <div class="destination">
        <img src="" alt="">
        <div class="details">
            <p> </p>
            <p>  </p>
            <p>  </p>          
        </div>
    </div>
    <div class="destination">
        <img src="" alt="">
        <div class="details">
            <p></p>
            <p>  </p>
            <p>  </p>            
        </div>
    </div>
    <div class="destination">
        <img src="" alt="">
        <div class="details">
            <p>Etape 3 -> </p>
            <p>  </p>
            <p>  </p>          
        </div>
    </div>
Si vous posseder déja un compte vous pouvez vous connecter : <a href="index.php?page=reservation">Reservation</a>
    
</section>
{% endblock %}