{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/bresil.css'> {% endblock %}

{% block content %}
<section class="detailsBresil">
    <div class="destination">
        <img src="https://diariodorio.com/wp-content/uploads/2020/06/8317cristo-redentor-foto-de-Rog%C3%A9rio-Santana-scaled.jpg" alt="rio de janeiro">
        <div class="details">
            <p> Etape 1 -> Rio de Janeiro</p>
            <p> 1343€ + 47€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> Rio de Janeiro, surnommée la "Cidade Maravilhosa", est une ville aux paysages spectaculaires et à l’ambiance vibrante. Dominée par l’imposant Christ Rédempteur au sommet du mont Corcovado, elle offre des panoramas à couper le souffle, notamment depuis le Pain de Sucre, accessible en téléphérique. Ses plages mythiques, Copacabana et Ipanema, sont idéales pour se détendre et ressentir l’énergie carioca. Le quartier bohème de Santa Teresa, avec ses ruelles pavées et l’escalier Selarón, ainsi que Lapa et ses célèbres arches, plongent les visiteurs dans l’âme artistique et festive de la ville. Pour une immersion dans la nature, le jardin botanique et la forêt de Tijuca offrent une biodiversité impressionnante. Les amateurs de football apprécieront la visite du légendaire stade Maracanã, tandis que les passionnés de culture pourront explorer le Musée du Demain, une œuvre architecturale fascinante. Enfin, une croisière dans la baie de Guanabara permet de découvrir des îles paisibles comme Ilha de Paquetá. Entre culture, nature et festivités, Rio de Janeiro promet une expérience inoubliable pour tous les voyageurs. </p>          
        </div>
    </div>
    <div class="destination">
        <img src="https://th.bing.com/th/id/OIP.J8MIHYUhaVrZvJSrdfsYAgHaEK?w=1920&h=1080&rs=1&pid=ImgDetMain" alt="São Paulo">
        <div class="details">
            <p>Etape 2 -> São Paulo</p>
            <p> 1027€ + 47€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> São Paulo, la plus grande métropole du Brésil, est une ville dynamique où modernité et diversité culturelle se rencontrent. Centre économique du pays, elle séduit par son architecture impressionnante, notamment sur l’avenue Paulista, véritable cœur financier et culturel bordé de gratte-ciel, de musées et de galeries d’art. Parmi les incontournables, le MASP (Musée d’Art de São Paulo) expose une collection exceptionnelle d’œuvres européennes et brésiliennes. Le parc Ibirapuera, souvent comparé à Central Park, offre un havre de paix au milieu de l’agitation urbaine avec ses espaces verts, ses musées et son auditorium conçu par Oscar Niemeyer. Le quartier de Vila Madalena est le repaire des amateurs de street art, notamment avec le célèbre Beco do Batman, et regorge de bars et cafés branchés. São Paulo est aussi une destination gastronomique de renom, avec des restaurants étoilés et le marché municipal, célèbre pour ses fruits exotiques et son traditionnel sandwich à la mortadelle. Le quartier de Liberdade, quant à lui, immerge les visiteurs dans la plus grande communauté japonaise hors du Japon, avec ses temples, ses lanternes rouges et sa cuisine asiatique authentique. Ville aux mille facettes, São Paulo est un véritable carrefour de cultures et une destination incontournable pour les passionnés d’art, d’histoire et de gastronomie. </p>            
        </div>
    </div>
    <div class="destination">
        <img src="https://cdn.getyourguide.com/img/location/5d7f474823fe9.jpeg/88.jpg" alt="Salvador">
        <div class="details">
            <p>Etape 3 -> Salvador</p>
            <p> 1191€ + 40€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <p> Salvador, capitale de l’État de Bahia, est une ville vibrante où l’histoire, la culture afro-brésilienne et des plages idylliques se rencontrent. Son centre historique, le Pelourinho, classé au patrimoine mondial de l’UNESCO, séduit par ses ruelles pavées, ses façades colorées et ses églises baroques somptueuses, comme l’église São Francisco. Berceau du samba-reggae et de la capoeira, Salvador vibre au son des percussions et des traditions héritées de l’Afrique. La ville offre également des plages paradisiaques, telles que Porto da Barra, idéale pour la baignade, et Flamengo, prisée pour ses eaux cristallines. Le marché São Joaquim et le célèbre Mercado Modelo sont des lieux parfaits pour goûter à la cuisine bahianaise, notamment l’acarajé, une spécialité locale à base de haricots et de crevettes. Le quartier du Rio Vermelho, quant à lui, est le centre de la vie nocturne, avec ses bars animés et ses concerts de musique live. Salvador est aussi un point de départ idéal pour explorer l’île de Itaparica ou la magnifique Praia do Forte. Entre histoire, rythmes envoûtants et paysages tropicaux, Salvador promet une immersion unique au cœur de la culture brésilienne. </p>          
        </div>
    </div>
Si vous posseder déja un compte vous pouvez vous connecter : <a href="index.php?page=reservation">Reservation</a>
    
</section>
{% endblock %}
