{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/maroc.css'> {% endblock %}

{% block content %}
<section class="">
    <div class="destination">
        <img src="https://www.voyageavecnous.fr/wp-content/uploads/2023/04/que-faire-maroc-meknes.jpg" alt="Rabat">
        <div class="details">
            <p> Etape 1 -> Rabat </p>
            <p> 224€ + 86€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> Rabat, capitale du Maroc, est une ville pleine de charme où histoire, culture et modernité se rencontrent harmonieusement. Le Mausolée Mohammed V, chef-d'œuvre architectural, abrite les tombes du roi Mohammed V et de ses fils, et représente un lieu de grande importance historique et spirituelle. La Kasbah des Oudayas, un quartier pittoresque au bord de l'océan Atlantique, dévoile des ruelles étroites et une vue imprenable sur la mer. Le Palais Royal, résidence officielle du roi, est un autre symbole de la majesté de la ville. Les amoureux de l’histoire apprécieront le site archéologique de Chellah, qui mêle vestiges romains et influence islamique. Le Jardin d'Essais Botaniques, un véritable oasis de verdure, est parfait pour une pause tranquille en plein cœur de la ville. Le musée Mohammed VI d'art moderne et contemporain propose une immersion dans la richesse artistique du pays, tandis que le quartier de l’Agdal regorge de boutiques modernes, de restaurants et de cafés animés. Enfin, la médina de Rabat, avec ses marchés traditionnels et son atmosphère unique, offre une expérience authentique pour découvrir l’artisanat local. Entre patrimoine historique, paysages marins et modernité, Rabat est une destination fascinante pour un séjour alliant culture et détente. </p>          
        </div>
    </div>
    <div class="destination">
        <img src="https://leosystem.travel/wp-content/uploads/2020/05/67449112.jpg" alt="Casablanca">
        <div class="details">
            <p> Etape 2 -> Casablanca </p>
            <p> de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> Casablanca, la plus grande ville du Maroc, est un mélange fascinant de modernité et de tradition. Son architecture art déco et ses bâtiments contemporains, notamment l’imposante Mosquée Hassan II, qui se dresse sur les rives de l'Atlantique, en font une destination incontournable. La mosquée, l'une des plus grandes au monde, offre des vues imprenables sur l'océan et est un chef-d'œuvre de l'architecture islamique moderne. Le quartier des Habous, avec ses ruelles pittoresques et son souk animé, vous plonge dans l’atmosphère traditionnelle marocaine, tout en étant à proximité des zones modernes de la ville. La corniche, promenade en bord de mer, est l'endroit idéal pour se détendre avec ses restaurants et cafés offrant des vues splendides sur l’océan. Les amateurs de shopping apprécieront le Morocco Mall, l’un des plus grands centres commerciaux d’Afrique, où se mêlent grandes marques internationales et produits artisanaux marocains. Le quartier du centre-ville, avec ses boulevards larges et ses places arborées, reflète l’esprit cosmopolite de Casablanca. Enfin, pour les amoureux de culture, le musée de la Fondation Abderrahman Slaoui et le musée de la Villa des Arts offrent une belle immersion dans l’art et l’histoire du pays. Entre modernité et héritage marocain, Casablanca est une destination vibrante et pleine de charme. </p>            
        </div>
    </div>
    <div class="destination">
        <img src="https://www.jet2holidays.com/HotelImages/Web/RAK_87247_Riad_MedJad_&_Spa_0324_10.jpg" alt="Marrakech">
        <div class="details">
            <p>Etape 3 -> Marrakech </p>
            <p> 190€ + 114€ de logement pour 1 personne si vous souhaite faire que cette destination </p>
            <a href="index.php?page=reservation">Reservation</a>
            <p> Marrakech, perle du Maroc, est une destination envoûtante qui mêle histoire, culture et beauté naturelle. La médina, classée au patrimoine mondial de l'UNESCO, est un véritable labyrinthe de ruelles étroites où se cachent des trésors comme la place Jemaa el-Fna, animée jour et nuit par des marchands, musiciens et artistes de rue. Les palais et jardins, tels que le Palais Bahia et le Jardin Majorelle, offrent un aperçu de la grandeur de l'architecture marocaine traditionnelle et une oasis de tranquillité au cœur de la ville. Les souks de Marrakech, colorés et parfumés, regorgent d'artisanat local, allant des tapis berbères aux épices en passant par les objets en cuir. La mosquée Koutoubia, avec son minaret majestueux, domine la ville et est un symbole incontournable. Pour une escapade dans le désert, la palmeraie de Marrakech et ses promenades à dos de chameau offrent une expérience unique. Les visiteurs peuvent également découvrir le musée de Marrakech ou le Jardin Secret, qui combine histoire et paysages exotiques. Entre culture vibrante, architecture splendide et atmosphère chaleureuse, Marrakech est une destination magique qui promet un séjour inoubliable. </p>          
        </div>
    </div>
    <div class="destination">
        <div class="details">
            <p>Possibilité de prend le pack VOYAGE avec toutes les étapes comprises en un seul voyage. Le prix et de 531 € par personne sans compter les nuits aux hotels Si vous souhaiter reserver le pack VOYAGE : <a href="index.php?page=reservationPack">Reservation</a> </p>
        </div>
    </div>
</section>
{% endblock %}
