{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Liste des types
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<h1 class="text-center text-light">Liste des types</h1>
				{% for type in types %}
					{{type.id}}
					{{type.label}}<br/>
					{% endfor%}
				</div>
			</div>
		</div>
	{% endblock %}
