{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Liste des voyages {% endblock %}

{% block css %} {{ parent() }} <link rel='stylesheet' href='css/voyage.css'> {% endblock %}

{% block content %}
<section class="voyages">
    <div class="">
        <img src="" alt="">
        <div class="details">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="">
        <img src="" alt="">
        <div class="details">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="">
        <img src="" alt="">
        <div class="details">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="">
        <img src="" alt="">
        <div class="details">
            <p></p>
            <p></p>
            <p></p>
            <p> </p>
        </div>
    </div>
</section>
{% endblock %}
